@{
    string str = ViewData["filterProperty"] as string;

    ViewBag.filter = (!string.IsNullOrEmpty(str) ? string.Format(".{0}", ViewData["filterProperty"]) : string.Empty);
    ViewBag.parent = (!string.IsNullOrEmpty(str) ? string.Format("data.entity.{0}.", ViewData["filterProperty"]) : "data.entity.");
    ViewBag.entity = (!string.IsNullOrEmpty(str) ? string.Format("this, '{0}'", ViewData["filterProperty"]) : "this").Replace(".", "");
}

<div class="row" ng-if="@(ViewBag.parent)filterOptions.filters.length > 0">
    <div class="col-sm-1">
        <div class="label label-default">Filtros:</div>
    </div>
    <div class="col-sm-2 form-group">
        <label>escolha um</label>
        <select ng-model="data.condition@(ViewBag.filter).index" class="input-lg form-control input-s-lg inline">
            <option value="">
                (selecione)
            </option>
            <option ng-repeat="f in @(ViewBag.parent)filterOptions.filters" value="{{$index}}">
                {{f.displayName}}
            </option>
        </select>
    </div>
    <div ng-show="data.condition@(ViewBag.filter).index!=''" class="col-md-2 form-group">
        <label>{{(data.condition@(ViewBag.filter).filterType.indexOf('DateFilter') === -1)?'operador' : 'data inicial'}}</label>
        <div ng-if="data.condition@(ViewBag.filter).filterType.indexOf('DateFilter') === -1">
            <select ng-model="data.condition@(ViewBag.filter).defaultOperator" ng-options="op.key as op.value for op in data.condition@(ViewBag.filter).operators" class="input-lg form-control input-s-lg inline"></select>
        </div>
        <div ng-if="data.condition@(ViewBag.filter).filterType.indexOf('DateFilter') > -1" class="input-group date">
            <input type="datetime" class="input-lg form-control input-s-lg inline" date-time ng-model="data.condition@(ViewBag.filter).defaultValue" view="date" format="DD/MM/YYYY" min-view="date" auto-close="true" />
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="col-sm-2 form-group" ng-show="data.condition@(ViewBag.filter).index!='' && data.condition@(ViewBag.filter).displayOperator.indexOf('existe') < 0">
        <label>{{(data.condition@(ViewBag.filter).filterType.indexOf('DateFilter') > -1)?'data final' : (data.condition@(ViewBag.filter).filterType.indexOf('EnumFilter') > -1 || data.condition@(ViewBag.filter).filterType.indexOf('BooleanFilter') > -1 || data.condition@(ViewBag.filter).filterType.indexOf('FKDropdownListFilter') > -1) ? 'escolha' : 'informe'}}</label>
        <div ng-if="data.condition@(ViewBag.filter).filterType.indexOf('LikeFilter') > -1 || data.condition@(ViewBag.filter).filterType.indexOf('DecimalFilter') > -1">
            <input name="value" ng-if="data.condition@(ViewBag.filter).mask == null || data.condition@(ViewBag.filter).mask == ''" type="text" ng-value="{{data.condition@(ViewBag.filter).defaultValue}}" ng-model="data.condition@(ViewBag.filter).defaultValue" class="input-lg form-control input-s-lg inline" />
            <input name="mask-value" ng-if="data.condition@(ViewBag.filter).mask != null  && data.condition@(ViewBag.filter).mask != ''" type="text" ng-value="{{data.condition@(ViewBag.filter).defaultValue}}" ng-model="data.condition@(ViewBag.filter).defaultValue" class="input-lg form-control input-s-lg inline" ui-mask="data.condition@(ViewBag.filter).mask" model-view-value="true" />
        </div>
        <div ng-if="data.condition@(ViewBag.filter).filterType.indexOf('DateFilter') > -1" class="input-group date">
            <input type="datetime" class="input-lg form-control input-s-lg inline" date-time ng-model="data.condition@(ViewBag.filter).defaultValue2" view="date" format="DD/MM/YYYY" min-view="date" auto-close="true" />
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
        <div ng-if="data.condition@(ViewBag.filter).filterType.indexOf('EnumFilter') > -1 || data.condition@(ViewBag.filter).filterType.indexOf('BooleanFilter') > -1 || data.condition@(ViewBag.filter).filterType.indexOf('FKDropdownListFilter') > -1">
            <select ng-model="data.condition@(ViewBag.filter).defaultValue" ng-options="op.key as op.value for op in data.condition@(ViewBag.filter).domainValues" class="input-lg form-control input-s-lg inline">
                <option value="" ng-selected="{{data.condition@(ViewBag.filter).defaultValue == ''}}">
                    (selecione)
                </option>
            </select>
        </div>
    </div>
    <div ng-show="data.condition@(ViewBag.filter).index!=''" class="col-sm-1">
        <label>&nbsp;</label><br/>
        <button type="button" ng-click="filter.addFilter(@(ViewBag.entity))" class="btn btn-lg btn-primary pull-left bottom">
            &#43;
        </button>
    </div>    
</div>

<div class="row">
    <div class="col-sm-1">
        &nbsp;
    </div>
    <div class="col-sm-11">
        <ul class="list-inline">
            <li ng-repeat="condition in @(ViewBag.parent)filterConditions">
                <span class="label label-default">{{condition.displayName + " " + condition.displayOperator + " " + condition.displayValue}}</span>
                <button type="button" class="btn btn-danger btn-xs" aria-hidden="true" ng-click="filter.removeFilter(@(ViewBag.entity))">&#120;</button>
            </li>
        </ul>
    </div>
</div>